header {
    background-color: rgba(0,85,109,255);
}

h1 {
    color: rgba(249,163,6,255);
}

a {
    color: white;
}

#section1 {
    background-color: rgba(229,229,229,255);
    color: rgba(56,56,56,255);
}

#section2 {
    background-color: rgba(242,242,242,255);
    color: rgba(51,51,51,255);
}

footer {
    background-color: rgba(51,51,51,255);
    color: rgba(153,153,153,255);
}